<section class="apresenta-produtos"> 
    <h1 class="conheca-produtos" > NOTEBOOK</h1>
</section>

<section class="conteudo-produtos">

    <div class="opçoes-produtos_col">
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc1r1.png" alt="Opçao de notebook Lenovo IdeaPad3i"> </a> 
        <h2 class="nome-produto-opcao" > Notebook Lenovo IdeaPad3i</h2>
        <br>
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc1r2.png" alt="Opçao de notebook positivo duo"> </a> 
        <h2 class="nome-produto-opcao" > Notebook Positivo Duo</h2>
    </div>

    <div class="opçoes-produtos_col">
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc2r1.png" alt="Opçao de notebook asus gamer"> </a> 
        <h2 class="nome-produto-opcao" > Notebook Asus Gamer</h2>
        <br>
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc2r2.png" alt="Opçao de notebook dell inspiron 15"> </a>
        <h2 class="nome-produto-opcao" > Notebook Dell Inspiron 15</h2>
    </div>

    <div class="opçoes-produtos_col">
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc3r1.png" alt="Opçao de notebook hp dragonfly"> </a> 
        <h2 class="nome-produto-opcao" > Notebook HP Dragonfly</h2>
        <br>
        <a routerLink="/notebook"> <img class="imagem-produto" src="/assets/img/notebookc3r2.png" alt="Opçao de notebook samsung 7"> </a>
        <h2 class="nome-produto-opcao" > Notebook Samsung 7</h2>
    </div>

</section>
        
<section class="backhome">
    <a routerLink=""> <img class="botao-backtohome" src="/assets/img/botaohome.png" alt="Botão voltar para a página principal"> </a>     
</section>
