<footer class="rodape">

    <div class="conheca-empresa">
        <h2 class="empresa"> Conheça nossa Empresa:</h2>
        <br>
        <section class="links-empresa">
            <a routerLink="index.html" class="rodape-menu-item">Missão</a>
            <a routerLink="index.html" class="rodape-menu-item">Visão</a>
            <a routerLink="index.html" class="rodape-menu-item">Valores</a>
        </section>
    </div>

    <div class="conheca-lojas">
        <h2 class="lojas"> Conheça nossas Lojas:</h2>
        <br>
        <a routerLink="index.html"> <img class="social" src="/assets/img/Brasil.png" alt="Redes sociais"> </a>
    </div>

    <div class="siga">
        <h2 class="redes"> Siga nossas redes:</h2>
        <br>
        <section class="icones">
            <a routerLink="index.html"> <img class="social" src="/assets/img/twiter.png" alt="Twitter"> </a>
            <a routerLink="index.html"> <img class="social" src="/assets/img/facebook.png" alt="Facebook"> </a>
            <a routerLink="index.html"> <img class="social" src="/assets/img/instagram.png" alt="Instagram"> </a>
        </section>
    </div>

</footer>
