<section class="apresenta-produtos"> 
    <h1 class="conheca-produtos" > PC GAMER</h1>
</section>

<section class="conteudo-produtos">      
   
    <div class="opçoes-produtos_col">
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc1r1.png" alt="Opçao de pc gamer hearthz gaming"> </a>
        <h2 class="nome-produto-opcao" > PC Gamer Hearthz Gaming</h2>
        <br>
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc1r2.png" alt="Opçao de pc gamer asus intel core i5"> </a>
        <h2 class="nome-produto-opcao" > PC Gamer Asus Intel Core i5</h2> 
    </div>
    
    <div class="opçoes-produtos_col">          
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc2r1.png" alt="Opçao de pc gamer smart pc smt81261"> </a> 
        <h2 class="nome-produto-opcao" > PC Gamer Smart Pc SMT81261</h2>
        <br>
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc2r2.png" alt="Opçao de pc gamer g-fire gamer htg r435"> </a>    
        <h2 class="nome-produto-opcao" > PC Gamer G-Fire Gamer HTG R435</h2>
    </div>

    <div class="opçoes-produtos_col">
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc3r1.png" alt="Opçao de pc gamer darius completo i5"> </a> 
        <h2 class="nome-produto-opcao" > PC Gamer Darius Completo I5</h2>
        <br>
        <a routerLink="/pcgamer"> <img class="imagem-produto" src="/assets/img/pcgamerc3r2.png" alt="Opçao de pc gamer ntc vulcano II 7102"> </a> 
        <h2 class="nome-produto-opcao" > PC Gamer NTC Vulcano II 7102</h2>
    </div>

</section>
        
<section class="backhome">
    <a routerLink=""> <img class="botao-backtohome" src="/assets/img/botaohome.png" alt="Botão voltar para a página principal"> </a>     
</section>
