<header class="cabecalho">

    <div class="menu-bars">

        <a routerLink="" onclick="abrirmenu()"> <img src="/assets/img/menu_bars.svg" alt="Menu de opções da empresa game mania"></a>

        <!--        Menu Utilizando jQuery                         
        <a routerLink="" id="barras"> <img src="/assets/img/menu_bars.svg" alt="Menu de opções da empresa game mania"></a>
        -->
        <nav id="menugamemania" class="menu-open">
            <a routerLink="/notebook" class="menu-texto"> Notebook</a>
            <a routerLink="/pcgamer" class="menu-texto"> PC Gamer</a>
            <a routerLink="/playstation" class="menu-texto"> Playstation</a>
            <a routerLink="/celular" class="menu-texto"> Celular</a>
            <a routerLink="" class="menu-texto"> Consultoria Especilizada</a>
            <a routerLink="" class="menu-texto"> Compre On Line</a>
            <a routerLink="" class="menu-texto"> Encontre nossas Lojas</a>
            <a routerLink="" class="menu-texto"> Conheça nossa Empresa</a>
        </nav>
    </div>

    <h1 class="cabecalho-home"> GAME MANIA </h1>

    <div class="pesquisa">
        <form>
            <input type="text">
            <button class="pesquisa-botao"> Pesquisar </button>
        </form>
    </div>

    <div class="conta-acesso">

        <h2 class="cabecalho-texto"> Login </h2>

        <a routerLink="/formlogin"> <img class="login" src="/assets/img/icone_login.svg" alt="Login da empresa game mania"></a>

        <a routerLink="/formcadastro" class="cabecalho-texto"> Cadastre-se </a>

</div>

</header>
