
<section class="apresenta-produtos"> 
    <h1 class="conheca-produtos" > TELEFONE CELULAR</h1>
</section>

<section class="conteudo-produtos">

    <div class="opçoes-produtos_col">
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc1r1.png" alt="Opçao de telefone celular iphone"> </a> 
        <h2 class="nome-produto-opcao" > Telefone Celular iPhone</h2>
        <br>
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc1r2.png" alt="Opçao de telefone celular lg"> </a> 
        <h2 class="nome-produto-opcao" > Telefone Celular LG</h2>
    </div>

    <div class="opçoes-produtos_col">
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc2r1.png" alt="Opçao de telefone celular motorola"> </a> 
        <h2 class="nome-produto-opcao" > Telefone Celular Motorola</h2>
        <br>
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc2r2.png" alt="Opçao de telefone celular huawei"> </a>
        <h2 class="nome-produto-opcao" > Telefone Celular Huawei</h2>
    </div>

    <div class="opçoes-produtos_col">
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc3r1.png" alt="Opçao de telefone celular samsung"> </a> 
        <h2 class="nome-produto-opcao" > Telefone Celular Samsung</h2>
        <br>
        <a routerLink="/celular"> <img class="imagem-produto" src="/assets/img/celularc3r2.png" alt="Opçao de telefone celular philco"> </a>
        <h2 class="nome-produto-opcao" > Telefone Celular Philco</h2>
    </div>

</section>
        
<section class="backhome">
    <a routerLink=""> <img class="botao-backtohome" src="/assets/img/botaohome.png" alt="Botão voltar para a página principal"> </a>     
</section>