<section class="apresenta-produtos"> 
    <h1 class="conheca-produtos" > PLAYSTATION</h1>
</section>

<section class="conteudo-produtos">

    <div class="opçoes-produtos_col">
         <a routerLink="/playstation"> <img class="imagem-produto" src="/assets/img/playstationc1.png" alt="Opçao de playstation console ps5"> </a> 
         <h2 class="nome-produto-opcao" > Playstation Console PS5</h2>
    </div>

    <div class="opçoes-produtos_col">
         <a routerLink="/playstation"> <img class="imagem-produto" src="/assets/img/playstationc2.png" alt="Opçao de playstation console ps4"> </a> 
         <h2 class="nome-produto-opcao" > Playstation Console PS4</h2>
    </div>

    <div class="opçoes-produtos_col">
         <a routerLink="/playstation"> <img class="imagem-produto" src="/assets/img/playstationc3.png" alt="Opçao de playstation acessórios"> </a> 
         <h2 class="nome-produto-opcao" > Playstation Acessórios</h2>
    </div>

</section>
        
<section class="backhome">
    <a routerLink=""> <img class="botao-backtohome" src="/assets/img/botaohome.png" alt="Botão voltar para a página principal"> </a>     
</section>

