<section class="body-form">

<h1 class="form-title" > LOGIN DO USUÁRIO: </h1>
  
<br>
    
  <form> <!-- Utilizando parcialmente Bootstrap -->

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-ask">Digite seu E-mail Cadastrado:</label>
      <br>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" maxlength="50" >
    </div>

    <br>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-ask">Digite sua Senha de Acesso:</label>
      <br>
      <input type="password" class="form-control" id="exampleInputPassword1" maxlength="50">
    </div>

    <br>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" maxlength="50">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
  
    <br>

    <button type="submit" class="btn-confirma"> Confirma </button>

  </form>

</section>